@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/create.css" />
<h1>Create</h1>

<h4>EmployeeModel</h4>

<div class="head">
    <img src="~/Assets/logo.png" style="width:50px;height:47px" />
    <div>
        <span style="color: #82A70C">EMPLOYEE</span><br />
        <span style="color: #42515F"> PAYROLL</span>
    </div>
</div>
<div class="heading">
    <h3>Add New Employee</h3>
</div>

<hr />

<div style="background-color:#F2F3F4" class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                   <label asp-for="EmployeeId" class="control-label"></label>
                    <input asp-for="EmployeeId" class="form-control" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmpName" class="control-label"></label>
                    <input asp-for="EmpName" class="form-control" />
                    <span asp-validation-for="EmpName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="profileImage" class="control-label"></label>
                    <div>
                        @Html.RadioButtonFor(model => model.profileImage, "~/Assets/Male (1).png")
                        <img class="Profile-image-1 " src="~/Assets/Male (1).png" />
                        @Html.RadioButtonFor(model => model.profileImage, "~/Assets/Female (3).png")
                        <img class="Profile-image-1 " src="~/Assets/Female (3).png" />
                        @Html.RadioButtonFor(model => model.profileImage, "~/Assets/Male (2).png")
                        <img class="Profile-image-1 " src="~/Assets/Male (2).png" />
                        @Html.RadioButtonFor(model => model.profileImage, "~/Assets/Female (5).png")
                        <img class="Profile-image-1 " src="~/Assets/Female (5).png" />
                    </div>

                    <span asp-validation-for="profileImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control">
                        <option>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="notes" class="control-label"></label>
                    <input asp-for="notes" class="form-control" />
                    <span asp-validation-for="notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
